body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f4f6f8;
}


header {
background-color: #0a3d62;
color: white;
text-align: center;
padding: 20px;
}


nav {
background-color: #1e3799;
text-align: center;
padding: 10px;
}


nav a {
color: white;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}


section {
padding: 20px;
margin: 10px;
background: white;
}


footer {
background-color: #0a3d62;
color: white;
text-align: center;
padding: 10px;
}